<template>
    <section>
        <b-field label="Plant name">
            <b-input v-model="query.name"></b-input>
        </b-field>
        <b-field label="Start date">
            <b-datepicker
                    placeholder="Click to select..."
                    icon="calendar-today"
                    v-model="query.startDate">
            </b-datepicker>
        </b-field>
        <b-field label="End date">
            <b-datepicker
                    placeholder="Click to select..."
                    icon="calendar-today"
                    v-model="query.endDate">
            </b-datepicker>
        </b-field>
        <button id="submitButton"
                class="button is-primary"
                v-on:click="submit">
            Search
        </button>
        <button id="getPlantButton"
                class="button is-link"
                v-on:click="getPlantsFromOther">
            Get Plants From Other RentIt
        </button>
        <br v-for="v in 5" :key="v"/>

        <label class="label">Available Plants</label>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th class="has-text-center"><a @click="sortById()">Id</a></th>
                <th class="has-text-center"><a @click="sortByDescription">Description</a></th>
                <th class="has-text-center"><a @click="sortByName()">Name</a></th>
                <th class="has-text-center"><a @click="sortByPrice()">Price</a></th>
                <th class="has-text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="plant in plants" :key="plant._id">
                <td id="plantId">{{plant._id}}</td>
                <td id="plantDescription">{{plant.description}}</td>
                <td id="plantName">{{plant.name}}</td>
                <td id="plantPrice">{{plant.price}}</td>
                <td>
                    <a id="createPHR" class="button is-link is-small is-outlined"
                       @click="createRequest(plant)">
                        Create PHR
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</template>

<script>
    import axios from "axios";
    import moment from 'moment';
    import auth from "../auth/auth";

    export default {
        name:"CreatePHR",
        data: function(){
            return {
                query: {
                    name: "",
                    startDate: undefined,
                    endDate: undefined
                },
                plants: []
            }
        },
        methods: {
            submit: function(){
                this.getPlants();
            },
            createRequest: function(plant){
              if (this.query.startDate == null || this.query.endDate == null) {
                  this.$snackbar.open({
                      type: 'is-danger',
                      message: "PHR start and end dates are required!"
                  });
                  return;
              }
              axios.post("http://localhost:8080/api/procurements/phrs", {
                  rentalPeriod: {
                      startDate: this.formatDate(this.query.startDate),
                      endDate: this.formatDate(this.query.endDate)
                  },
                  inventoryEntry: plant
              }, {headers: auth.getAuthHeader()}).then(response => {
                  this.$snackbar.open("Plant hire request has been successfully created!");
              }).catch(error => {
                  this.$snackbar.open({
                      type: 'is-danger',
                      message: error.response.data
                  });
              });
            },
            getPlants: function(){
                axios.get(`http://localhost:8080/api/procurements/plants`,{
                headers: auth.getAuthHeader(),
                    params:{
                        name: this.query.name,
                        startDate: this.formatDate(this.query.startDate),
                        endDate: this.formatDate(this.query.endDate)
                    }
                })
                    .then( response => {
                        this.plants = response.data;
                    }).catch(error => {
                        this.$snackbar.open({
                            type: 'is-danger',
                            message:  error.response.data
                        });
                });
            },
            getPlantsFromOther: function(){
                axios.get(`http://ec2-35-178-104-246.eu-west-2.compute.amazonaws.com/api/sales/plants`,{
                    headers: auth.getAuthHeader(),
                    params:{
                        name: this.query.name,
                        startDate: this.formatDate(this.query.startDate),
                        endDate: this.formatDate(this.query.endDate)
                    }
                })
                        .then( response => {
                            console.log("DATA:",response.data._embedded.plantInventoryEntryDToes);
                            this.plants = response.data._embedded.plantInventoryEntryDToes;
                        }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message:  error.response.data
                    });
                });
            },
            formatDate: function(date) {
                if(date){
                    return moment(String(date)).format('YYYY-MM-DD')
                }
            },
            sortByName: function(){
                this.plants.sort((a,b) => a.name.localeCompare(b.name));
            },
            sortById: function(){
                this.plants.sort((a,b) => a._id-b._id);
            },
            sortByDescription: function(){
                this.plants.sort((a,b) => a.description.localeCompare(b.description));
            },
            sortByPrice: function(){
                this.plants.sort((a,b) => a.price - b.price);
            }
        },
        mounted() {
            this.getPlants();
        }
    }
</script>
