<template>
    <section>
        <b-modal :active.sync="rejectionCommentActive">
            <label style="color:white">Reject message</label>
            <b-field>
                <b-input id="rejectMessage" maxlength="200" type="textarea" v-model="rejectionMessage"></b-input>
            </b-field>
            <a id="rejectComment" class="button is-danger is-outlined"
               @click="reject(); rejectionCommentActive = false">
                Reject Plant Hire Request
            </a>
        </b-modal>
        <b-modal :active.sync="modifyPopup.active">
            <label style="color:white">Site ID</label>
            <b-field>
                <b-input id="siteId" v-model="modifyPopup.siteId"></b-input>
            </b-field>
            <br />
            <div class="columns">
                <div class="column">
                    <label style="color:white">Start Date</label>
                    <b-datepicker id="startPicker"
                        placeholder="Click to select..."
                        icon="calendar-today"
                        v-model="modifyPopup.startDate">
                    </b-datepicker>
                </div>
                <div class="column">
                    <label style="color:white">End Date</label>
                    <b-datepicker id="endPicker"
                        placeholder="Click to select..."
                        icon="calendar-today"
                        position="is-bottom-left"
                        v-model="modifyPopup.endDate">
                    </b-datepicker>
                </div>
            </div>
            <br v-for="v in 12" :key="v"/>
            <a id="modify" class="button is-info is-outlined"
               @click="update(); modifyPopup.active = false">
                Update Plant Hire Request
            </a>
        </b-modal>
        <b-modal :active.sync="modifyPOModal.active">
            <div class="column">
                <label style="color:white">End Date</label>
                <b-datepicker
                        placeholder="Click to select..."
                        icon="calendar-today"
                        position="is-bottom-left"
                        v-model="modifyPOModal.extensionDate">
                </b-datepicker>
            </div>
            <br v-for="v in 20" :key="v"/>
            <a id="extend" class="button is-info is-outlined"
               @click="modifyPO(); modifyPOModal.active = false">
                Request PO modification
            </a>

        </b-modal>
        <div>
        <b-dropdown aria-role="list" v-model="status">
            <button class="button is-primary" slot="trigger">
                <span>{{this.status}}</span>
                <b-icon icon="menu-down"></b-icon>
            </button>
            <ul id="example-1">
                <li v-for="status in phrStatuses">
                    <b-dropdown-item :value="status" aria-role="listitem" v-on:click="submit">{{status}}</b-dropdown-item>
                </li>
            </ul>
        </b-dropdown>
        </div>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th class="has-text-center">Id</th>
                <th class="has-text-center">Plant Name</th>
                <th class="has-text-center">Site ID</th>
                <th class="has-text-center">Status</th>
                <th class="has-text-center">Comment</th>
                <th class="has-text-center">Start date</th>
                <th class="has-text-center">End date</th>
                <th class="has-text-center">Extension End Date</th>
                <th class="has-text-center">Cost</th>
                <th class="has-text-center">Invoice</th>
                <th class="has-text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="phr in phrs" :key="phr._id">
                <td>{{phr._id}}</td>
                <td>
                <b-collapse :open="false" aria-id="phr._id">
                    <button id="nameButton"
                            class="button  is-small"
                            slot="trigger"
                            aria-controls="contentIdForA11y1">{{phr.inventoryEntry.name}}</button>
                    <div v-if="phr.purchaseOrder !== null" class="notification">
                        <div class="content">
                            <p id="poIdText">{{phr.purchaseOrder === null ? "": "PO ID: " + phr.purchaseOrder.poHref}}</p>
                            <p id="poMessageText">{{phr.purchaseOrder === null ? "": "PO message: " + phr.purchaseOrder.poMessage}}</p>
                            <p id="poStatusText">{{phr.purchaseOrder === null ? "": "PO status:" + phr.purchaseOrder.status}}</p>
                            <div v-if="checkRoles(['ROLE_SITE_ENGINEER', 'ROLE_ADMIN']) && phr.purchaseOrder.status !== 'REJECTED' && phr.purchaseOrder.status !== 'CLOSED'">
                                <a id="extendButton" class="button is-small is-outlined is-info" @click="openPOModifyModal(phr)">
                                    Modify PO
                                </a>
                            </div>
                        </div>
                    </div>
                </b-collapse>
                </td>
                <td id="siteIdentification">{{phr.siteId}}</td>
                <td id="status">{{phr.status}}</td>
                <td id="comment">{{phr.comment}}</td>
                <td id="start">{{phr.rentalPeriod.startDate}}</td>
                <td id="end">{{phr.rentalPeriod.endDate}}</td>
                <td id="newExtensionDate">{{phr.extensionPeriodDTO != null ? phr.extensionPeriodDTO.endDate : ""}}</td>
                <td>{{phr.hiringCost}}</td>
                <td>
                    <b-collapse :open="false" aria-id="phr._id" v-if="invoices.find(invoice => invoice.phr._id === phr._id) && phr.status === 'INVOICED'">
                        <button id="invoiceButton"
                                class="button  is-small"
                                slot="trigger"
                                aria-controls="contentIdForA11y1">Invoice action</button>
                        <div class="notification">
                            <div class="content">
                                <p id="invoiceStatus">
                                    Status: {{invoices.find(invoice => invoice.phr._id === phr._id).status}}
                                </p>
                                <div v-if="invoices.find(invoice => invoice.phr._id === phr._id).status !== 'PAID' &&
                                invoices.find(invoice => invoice.phr._id === phr._id).status !== 'REJECTED' &&
                                checkRoles(['ROLE_ADMIN', 'ROLE_SITE_ENGINEER'])">
                                <p>
                                    <button id="pay" class="button is-small is-success" @click="pay(phr)">Pay</button>
                                </p>
                                <p>
                                    <button id="rejectPay" class="button is-small is-danger" @click="rejectPayment(phr)">Reject payment</button>
                                </p>
                                </div>
                            </div>
                        </div>
                    </b-collapse>
                </td>
                <td id="buttons">
                    <a v-if="phr.status === 'PENDING' && checkRoles(['ROLE_ADMIN', 'ROLE_WORKS_ENGINEER'])"
                        id="acceptButton"
                        class="button is-small is-outlined is-success"
                        @click="accept(phr)">
                        Accept
                    </a>
                    <a v-if="phr.status === 'PENDING' && checkRoles(['ROLE_ADMIN', 'ROLE_WORKS_ENGINEER'])"
                        id="rejectButton"
                        class="button is-small is-outlined is-danger"
                        @click="rejectionCommentActive = true; rejectionPhrId = phr._id">
                        Reject
                    </a>
                    <a  v-if="phr.status === 'PENDING'"
                        id="modifyButton"
                        class="button is-small is-outlined is-info"
                        @click="openModifyPHRDialog(phr)">
                        Modify
                    </a>
                    <a  v-if="checkIfCanCancel(phr)"
                        id="cancelButton"
                        class="button is-small is-danger"
                        @click="cancel(phr)">
                        Cancel
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <br v-for="v in 12" :key="v"/>
    </section>
</template>

<script>
    import axios from "axios";
    import moment from 'moment';
    import Vue from 'vue'
    import auth from "../auth/auth";

    export default {
        name:"QueryPHR",
        data: function(){
            return{
                rejectionMessage: "",
                rejectionCommentActive:false,
                modifyPopup: {
                    active: false,
                    phrId: null,
                    siteId: "",
                    startDate: null,
                    endDate: null,
                },
                query: {
                    name: ""
                },
                phrs:[],
                invoices: [],
                phrStatuses: ['ALL','PENDING', 'REJECTED', 'ACCEPTED', 'CANCEL_REQUESTED', 'CANCELLED', 'CANCEL_REQUESTED',
                    'EXTENSION_REQUESTED', 'PLANT_DISPATCHED', 'PLANT_RETURNED', 'INVOICED', 'CLOSED'],
                status: 'ALL',
                rejectionPhrId: null,
                modifyPOModal: {
                    active: false,
                    phr: null,
                    extensionDate: null
                }
            }
        },
        methods: {
            getInvoices: function() {
                axios.get(`http://localhost:8080/api/invoicing/invoices`,
                    {headers: auth.getAuthHeader()})
                    .then(response => {
                        this.invoices = response.data;
                        console.log(this.invoices);
                    }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message:  error.response.data
                    });
                });

            },
            pay: function(phr) {
                const invoiceId = this.invoices.find(invoice => invoice.phr._id === phr._id)._id;
                axios.post(`http://localhost:8080/api/invoicing/invoices/${invoiceId}/accept`,undefined,
                    {headers: auth.getAuthHeader()})
                    .then(response => {
                        this.getPhr();
                        this.getInvoices();
                    }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message:  error.response.data
                    });
                });
            },
            rejectPayment: function(phr) {
                const invoiceId = this.invoices.find(invoice => invoice.phr._id === phr._id)._id;
                axios.delete(`http://localhost:8080/api/invoicing/invoices/${invoiceId}/reject`,
                    {headers: auth.getAuthHeader()})
                    .then(response => {
                        this.getPhr();
                        this.getInvoices();
                    }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message:  error.response.data
                    });
                });
            },
            checkRoles: function(roles) {
                return auth.hasAnyOf(roles);
            },
            submit: function(){
                this.phrs.pop();
                this.getPhr();
            },
            getPhr: function() {
                axios.get(`http://localhost:8080/api/procurements/phrs?status=${this.status === 'ALL' ? '' : this.status }`,
                    {headers: auth.getAuthHeader()})
                    .then(response => {
                        this.phrs = response.data;
                        console.log(this.phrs);
                    }).catch(error => {
                        this.$snackbar.open({
                            type: 'is-danger',
                            message:  error.response.data
                        });
                });
                this.getInvoices();
            },
            accept: function(phr){
                console.log("phrAccepted");
                axios.post(`http://localhost:8080/api/procurements/phrs/${phr._id}/accept`,undefined,
                    {headers: auth.getAuthHeader()})
                    .then(response => {
                        const number = this.phrs.findIndex((p) => p._id === response.data._id);
                        Vue.set(this.phrs, number, response.data);
                    })
                    .catch(error => {
                        this.$snackbar.open({
                            type: 'is-danger',
                            message:  error.response.data
                        });
                });
            },
            reject: function(){
                const phr_id = this.rejectionPhrId;
                this.rejectionCommentActive = true;
                axios.delete(`http://localhost:8080/api/procurements/phrs/${phr_id}/reject?message=${this.rejectionMessage}`,
                    {headers: auth.getAuthHeader()})
                    .then(response => {
                        const number = this.phrs.findIndex((p) => p._id === response.data._id);
                        Vue.set(this.phrs, number, response.data);
                        this.rejectionPhrId = null;
                    })
                    .catch(error => {
                        this.$snackbar.open({
                            type: 'is-danger',
                            message:  error.response.data
                        });
                });
                this.rejectionMessage = "";
            },
            openModifyPHRDialog: function(phr){
                this.modifyPopup.active = true;
                this.modifyPopup.phrId = phr._id;
                this.modifyPopup.siteId = phr.siteId;
                this.modifyPopup.startDate = new Date(phr.rentalPeriod.startDate);
                this.modifyPopup.endDate = new Date(phr.rentalPeriod.endDate);
            },
            openPOModifyModal: function(phr) {
                console.log(phr.purchaseOrder.poHref);
                this.modifyPOModal.active = true;
                this.modifyPOModal.phr = phr;
            },
            modifyPO: function(){
                console.log("method is actually called");
                axios.post(`http://localhost:8080/api/procurements/orders/${this.modifyPOModal.phr.purchaseOrder.poHref}/modify?newEndDate=${this.formatDate(this.modifyPOModal.extensionDate)}`,
                    undefined, {headers: auth.getAuthHeader()})
                    .then( response => {
                        this.getPhr();
                    }).catch( error => {
                        this.$snackbar.open({
                            type: 'is-danger',
                            message: error.response.data
                        })
                })
            },
            update: function(){
                this.modifyPopup.active = false;
                let patchPhr = {
                    siteId: this.modifyPopup.siteId,
                    rentalPeriod: {
                        startDate: this.formatDate(this.modifyPopup.startDate),
                        endDate: this.formatDate(this.modifyPopup.endDate)
                    }
                };

                axios.patch(`http://localhost:8080/api/procurements/phrs/${this.modifyPopup.phrId}`, patchPhr, {headers: auth.getAuthHeader()})
                    .then(response => {
                        this.getPhr();
                    }).catch(error => {
                        this.$snackbar.open({
                            type: 'is-danger',
                            message:  error.response.data
                        });
                    });
            },
            checkIfCanCancel: function(phr){
                const allowedStatuses = ['PENDING', 'ACCEPTED', 'PO_ACCEPTED'];
                let dispatchDate = moment(phr.rentalPeriod.startDate);
                let daysBeforeDispatch = dispatchDate.diff(moment(), 'days');

                return (allowedStatuses.indexOf(phr.status) > -1
                    && this.checkRoles(['ROLE_ADMIN', 'ROLE_SITE_ENGINEER'])
                    && daysBeforeDispatch > 1);
            },
            cancel: function(phr){
                axios.post(`http://localhost:8080/api/procurements/phrs/${phr._id}/cancel`,undefined,
                    {headers: auth.getAuthHeader()})
                    .then(response => {
                        const number = this.phrs.findIndex((p) => p._id === response.data._id);
                        Vue.set(this.phrs, number, response.data);
                    })
                    .catch(error => {
                        this.$snackbar.open({
                            type: 'is-danger',
                            message:  error.response.data
                        });
                });
            },
            formatDate: function(date) {
                if(date){
                    return moment(String(date)).format('YYYY-MM-DD')
                }
            },
        },
        mounted(){
            this.getPhr();
        }
    }
</script>
