<template>
  <div class="hello">
    <purchase-order-requests/>
  </div>
</template>

<script>
import PurchaseOrderRequests from "./sales/PurchaseOrderRequests.vue";

export default {
  name: 'HelloWorld',
  components: {
    PurchaseOrderRequests
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
