<template>
  <div class="about">
  </div>
</template>
<script>
    // @ is an alias to /src
    // import OpenOrders from '@/components/allocation/OpenOrders.vue'

    export default {
        name: 'about'
    }

</script>
