<template>
    <section>
        <b-modal :active.sync="rejectionCommentActive">
            <label style="color:white">Reject Message</label>
            <b-field>
                <b-input id="rejectMessage" maxlength="200" type="textarea" v-model="rejectionMessage"></b-input>
            </b-field>
            <a id="rejectComment" class="button is-danger is-outlined"
               @click="reject(); rejectionCommentActive = false">
                Reject Purchase Order
            </a>
        </b-modal>
        <b-modal :active.sync="acceptanceCommentActive">
            <label style="color:white">Accept Message</label>
            <b-field>
                <b-input id="acceptMessage" maxlength="200" type="textarea" v-model="acceptanceMessage"></b-input>
            </b-field>
            <a id="acceptComment" class="button is-danger is-outlined"
               @click="accept(); acceptanceCommentActive = false">
                Accept Purchase Order
            </a>
        </b-modal>
        <label class="label">Purchase Orders</label>
        <b-dropdown aria-role="list" v-model="status">
            <button class="button is-primary" slot="trigger">
                <span>{{this.status}}</span>
                <b-icon icon="menu-down"></b-icon>
            </button>
            <ul id="example-1">
                <li v-for="status in poStatus">
                    <b-dropdown-item :value="status" aria-role="listitem" v-on:click="queryPurchaseOrders">{{status}}</b-dropdown-item>
                </li>
            </ul>
        </b-dropdown>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th class="has-text-center">Id</th>
                <th class="has-text-center">Status</th>
                <th class="has-text-center">Plant description</th>
                <th class="has-text-center">Plant name</th>
                <th class="has-text-center">Plant price</th>
                <th class="has-text-center">Plant id</th>
                <th class="has-text-center">Start date</th>
                <th class="has-text-center">End date</th>
                <th class="has-text-center">Extension end date</th>
                <th class="has-text-center">Invoice</th>
                <th class="has-text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="po in purchaseOrders" :key="po._id">
                <td id="poId">{{po._id}}</td>
                <td id="poStatus">{{po.status}}</td>
                <td id="poDesc">{{po.plant.description}}</td>
                <td id="poName">{{po.plant.name}}</td>
                <td id="poPrice">{{po.plant.price}}</td>
                <td id="poPlant">{{po.plant._id}}</td>
                <td id="poStart">{{po.rentalPeriod.startDate}}</td>
                <td id="poEnd">{{po.rentalPeriod.endDate}}</td>
                <td>{{po.extensionPeriodDTO !== null ? po.extensionPeriodDTO.endDate : ''}}</td>
                <td> <b-collapse :open="false" aria-id="phr._id" v-if="getPOInvoiceData(po._id) !== undefined">
                    <button id="invoiceButton"
                            class="button  is-small"
                            slot="trigger"
                            aria-controls="contentIdForA11y1">Invoice data</button>
                    <div class="notification">
                        <div class="content" >
                            <p id="invoiceStatus">Status: {{getPOInvoiceData(po._id).status}}</p>
                            <button id="reminder" v-if="getPOInvoiceData(po._id).status === 'PENDING'" class="button is-small is-success"
                                    @click="sendReminder(getPOInvoiceData(po._id))">Send reminder</button>
                        </div>
                    </div>
                </b-collapse></td>

                <div v-if="po.status === 'PENDING_EXTENSION'">
                    <td id="newActions">
                        <a id="acceptExtension" class="button is-success is-small is-outlined" @click="updateExtension(po, true)">
                            Accept extension
                        </a>
                        <a id="rejectExtension" class="button is-danger is-small is-outlined" @click="updateExtension(po, false)">
                            Reject extension
                        </a>
                    </td>
                </div>
                <div v-if="po.status === 'PENDING'">
                    <td>
                        <a id="acceptPO" class="button is-success is-small is-outlined"
                           @click="acceptanceCommentActive = true; acceptanceMessage = ''; acceptancePoId = po._id">
                            Accept
                        </a>
                        <a id="rejectPO" class="button is-danger is-small is-outlined"
                           @click="rejectionCommentActive = true; rejectionMessage = ''; rejectionPoId = po._id">
                            Reject
                        </a>
                    </td>
                </div>
                <div v-if="po.cancellationRequested === true">
                    <td>
                        <a id="approveCancel" class="button is-danger is-small"
                           @click="cancel(po)">
                            Accept Cancellation
                        </a>
                    </td>
                </div>
                <div>
                    <td v-if="po.status === 'PLANT_DISPATCHED' && getPOInvoiceData(po._id) === undefined">
                        <a id="return" class="button is-success is-outlined"
                           @click="itemReturned(po._id)">Return plant</a>
                    </td>
                    <td v-if="po.status === 'OPEN'">
                        <a id="dispatchButton" class="button is-danger is-outlined" @click="dispatchPlant(po._id)">
                            Dispatch plant</a>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
    </section>
</template>

<script>

    import axios from 'axios';
    import Vue from 'vue'

    export default {
        name: 'PurchaseOrderRequests',
        data: function() {
            return {
                rejectionMessage: "",
                rejectionCommentActive:false,
                rejectionPoId: null,
                acceptanceMessage: "",
                acceptanceCommentActive:false,
                acceptancePoId: null,
                status: 'ALL',
                purchaseOrders: [],
                purchaseOrderInvoices: [],
                poStatus: ['ALL','PENDING', 'REJECTED', 'OPEN', 'CANCELED', 'PENDING_EXTENSION', 'PLANT_DISPATCHED', 'PLANT_RETURNED',
                    'INVOICED', 'CLOSED'],
            }
        },
        methods: {
            sendReminder: function(invoice){
                const href = invoice._xlinks.find(xlink => xlink._rel === 'sendReminder').href;
                axios.post(href).then(reponse => {
                    this.queryPurchaseOrders()
                }).catch((error) => {
                    console.log(error);
                })
            },
            getPOInvoiceData: function(poId){
              return this.purchaseOrderInvoices.find((invoice) => invoice.purchaseOrder._id === poId)
            },
            queryInvoiceInfo: function(){
                axios.get(`http://localhost:8090/api/invoicing/invoices`).then(response => {
                    this.purchaseOrderInvoices = response.data;
                }).catch((error) => {
                    console.log(error);
                })
            },
            itemReturned: function(poId){
              axios.post(`http://localhost:8090/api/invoicing/orders/${poId}/createInvoice`).then(response => {
                  this.queryPurchaseOrders()
              }).catch((error) => {
                  console.log(error);
              })
            },
          queryPurchaseOrders: function(){
              axios.get(`http://localhost:8090/api/sales/orders?status=${this.status === 'ALL' ? '' : this.status}`)
                  .then(response => {
                      this.purchaseOrders = response.data;
                  }).catch((error) => {
                      console.log(error);
              });
              this.queryInvoiceInfo();
          },
            accept: function(po){
              const po_id = this.acceptancePoId;
              axios.post(`http://localhost:8090/api/sales/orders/${po_id}/accept?message=${this.acceptanceMessage}`)
                  .then(response => {
                      const number = this.purchaseOrders.findIndex((p) => p._id === response.data._id);
                      Vue.set(this.purchaseOrders, number, response.data);
                      this.$snackbar.open('Purchase order accepted!');
                      this.acceptancePoId = null;
                  }).catch(error => {
                      console.log(error);
              })
            },
            reject: function(po){
                const po_id = this.rejectionPoId;
                axios.delete(`http://localhost:8090/api/sales/orders/${po_id}/reject?message=${this.rejectionMessage}`)
                    .then(response => {
                        const number = this.purchaseOrders.findIndex((p) => p._id === response.data._id);
                        Vue.set(this.purchaseOrders, number, response.data);
                        this.$snackbar.open('Purchase order rejected!');
                        this.rejectionPoId = null;
                    }).catch(error => {
                    console.log(error);
                })
            },
            dispatchPlant: function(poId) {
                axios.post(`http://localhost:8090/api/sales/orders/${poId}/dispatch`)
                    .then(response => {
                        this.queryPurchaseOrders()
                    }).catch(error => {
                        console.log(error);
                })
            },
            cancel: function(po){
                axios.delete(`http://localhost:8090/api/sales/orders/${po._id}/acceptCancel`)
                    .then(response => {
                        const number = this.purchaseOrders.findIndex((p) => p._id === response.data._id);
                        Vue.set(this.purchaseOrders, number, response.data);
                        this.$snackbar.open('Purchase order cancelled!')
                    }).catch(error => {
                    console.log(error);
                })
            },
            updateExtension: function(po, acceptOrReject){
              if(acceptOrReject){
                  axios.post(`http://localhost:8090/api/sales/orders/${po._id}/acceptExtension`)
                      .then(response => {
                          this.queryPurchaseOrders();
                          this.$snackbar.open('PO extended!')
                      }).catch(error => {
                      console.log(error);
                  })
              }
              else{
                  axios.delete(`http://localhost:8090/api/sales/orders/${po._id}/rejectExtension`)
                      .then(response => {
                          this.queryPurchaseOrders();
                          this.$snackbar.open('PO extension rejected!')
                      }).catch(error => {
                      console.log(error);
                  })
              }

            }
        },
        mounted() {
            this.queryPurchaseOrders();
        }
    }
</script>
