<template>
  <div>
    <div id="logout">
      <router-link to="/logout">Logout</router-link>
    </div>
    <div>
      <purchase-order-requests/>
    </div>
  </div>
</template>

<script>
  import PurchaseOrderRequests from "./PlantHireRequests.vue";

  export default {
    name: 'HelloWorld',
    components: {
      PurchaseOrderRequests
    },
    props: {
      msg: String
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }

  #logout {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 2em;
    color: #2c3e50;
  }

</style>

