<template>
    <b-tabs type="is-toggle" expanded v-model="activeTab" @change="onTabChange">
        <b-tab-item label="Plant Hire Requests">
            <div>
                <query-p-h-r ref="phrs"/>
            </div>
        </b-tab-item>
        <div v-if="checkRoles(['ROLE_SITE_ENGINEER', 'ROLE_ADMIN'])">
        <b-tab-item id="createPlant" label="Create Plant Hire Request">
            <div>
                <create-p-h-r/>
            </div>
        </b-tab-item>
        </div>
    </b-tabs>
</template>



<script>
    import QueryPHR from "../components/procurements/QueryPHR.vue";
    import CreatePHR from "../components/procurements/CreatePHR.vue";
    import auth from "./auth/auth";

    export default {
        name: "PurchaseOrderRequests",
        components: {
            QueryPHR,
            CreatePHR
        },
        data: function() {
            return {
                activeTab: 0
            }
        },
        methods: {
            checkRoles: function(roles) {
                return auth.hasAnyOf(roles);
            },
            onTabChange: function(index) {
                if (index === 0) {
                    this.$refs.phrs.getPhr();
                }
            }
        }
    }
</script>
